body  {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
body > .titulo > h2 {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
    color: aliceblue;
}
.titulo > p {
    color: aliceblue;    
}
.sub{
    width: 100%;
    color: aliceblue;
    text-align: center;
    padding-top: 400px;
}
.bottom {
    border-radius: 50px;
    color: aliceblue;
}